<h1> <%= @user.username %>'s Profile</h1>
<h2>Recipes:</h2>
<%= render :partial => "recipes/recipe", :collection => @user.recipes %>

<h2>Reviews:</h2>
<%= render :partial => "reviews/review", :collection => @user.reviews %>
<br><br>


