<h1>Welcome,
<% if current_user %>
  <%= current_user.username %>!
  <% if current_user.uid %>
    GitHub User <%= current_user.uid %>
  <% end %>
<% else %>
  login with
  <%= link_to('GitHub', '/auth/github', method: :post) %> or
  <%= link_to "Email", login_path %>!
<% end %></h1>
<h3>Create Recipes | View Recipes by Other Users | Write Recipe Reviews </h3>
