<h1>Reviews for <%= r.name.titleize %></h1>
<h2><%= link_to "Create Review", new_recipe_review_path(r) %></h2>
<h3><% if r.reviews.none? %>
        0 Reviews
    <% end %></h3>

<% @reviews.each do |review| %>
    <%= render partial: "reviews/review", locals: {review: review} %>
<% end %>
